<div class="container  m-5">
    <button [routerLink]= "['/proveedor-agregar']" class="btn btn-outline-primary">Agregar</button>
    <br>
    <br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Codigo</th>
                <th scope="col">Nit</th>
                <th scope="col">Razon Social</th>
                <th scope="col">Pagina Web</th>
                <th scope="col">Contacto Principal</th>
            </tr>
        </thead>
        <tbody *ngFor="let proveedor of proveedores">
            <tr>
                <th scope="row">1</th>
                <td>{{ proveedor.codigoProveedor }}</td>
                <td>{{ proveedor.nit }}</td>
                <td>{{ proveedor.razonSocial }}</td>
                <td>{{ proveedor.paginaWeb }}</td>
                <td>{{ proveedor.contactoPrincipal}}</td>

                <td>
                    <button class="btn btn-outline-danger">Eliminar</button>
                    <button class="btn btn-outline-primary">Modificar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>