<h3>Categoria</h3>
<button [routerLink]= "['/categorias']" class="btn btn-outline-primary">Regresar</button>
<hr>
<div class="row">
    <div class="col-md-12">
        <form (ngSubmit) = "agregar()" #forma ="ngForm">
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <input [(ngModel)] = "categoria.descripcion" required placeholder="Descripción" class="form-control" name="descripcion"  type="text">                
            </div>      
            <div class="form-group">
                <button [disabled] = "!forma.valid" type="submit" class="btn btn-outline-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>
